.navBar {
	padding-top:8px;
    padding-bottom:8px;
	background-color:rgb(51, 65, 145);
	outline:3px black solid;
	overflow:hidden;
	text-align: center;
	font-family: 'Verdana', Segoe UI, Tahoma, Geneva,  sans-serif;
	font-size:28px;
	max-width:100%
}

.navBar a {
	outline: 3px solid black;
	background-color:rgba(256,256,256,.7);
	display: inline-block;
	margin-left:8px;
    margin-right:8px;
	margin-top:3px;
	margin-bottom:5px;
	padding:4px;
	text-decoration:none;
}

.navBar a:visited {
	color:initial;
}